/* Styles for the login container */
.login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
    padding: 20px 8%;
  }
  
  /* Styles for the login logo */
  .login-logo {
    width: 150px;
  }
  
  /* Styles for the login form */
  .login-form {
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.5);
    padding: 60px;
    border-radius: 4px;
    margin: auto;
  }
  
  /* Styles for the login form heading */
  .login-form h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 38px;
  }
  
  /* Styles for login form inputs */
  .login-form input {
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  /* Styles for login form input placeholders */
  .login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
  }
  
  /* Styles for login form button */
  .login-form button {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /* Styles for form help section */
  .form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
  }
  
  /* Styles for remember section in form help */
  .form-help .remember {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /* Styles for remember input */
  .remember input {
    width: 18px;
    height: 18px;
  }
  
  /* Styles for form switch section */
  .form-switch {
    margin-top: 40px;
    color: #737373;
  }
  
  /* Styles for form switch span */
  .form-switch span {
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Styles for login spinner */
  .login-spinner {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  /* Styles for login spinner image */
  .login-spinner img {
    width: 60px;
  }
  
  /* Media query for smaller screens */
  @media (max-width:500px) {
    .login {
      padding: 15px 5%;
    }
  
    .login-form {
      padding: 20px;
      margin-top: 30px;
    }
  }
  