/* Styles for the container of title cards */
.cardtitles {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  /* Styles for the title of title cards */
  .cardtitles h2 {
    margin-bottom: 8px;
  }
  
  /* Styles for the list of cards */
  .card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
  }
  
  /* Hide scrollbar */
  .card-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Styles for the card images */
  .card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styles for individual cards */
  .card-list .card {
    position: relative;
  }
  
  /* Styles for the text on cards */
  .card-list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
  }
  
  /* Media query for smaller screens */
  @media (max-width:800px) {
    .cardtitles {
      margin-top: 20px;
      margin-bottom: 0;
    }
    
    .cardtitles h2 {
      font-size: 20px;
    }
    
    .card-list img {
      width: 200px;
    }
    
    .card-list p {
      font-size: 12px;
    }
  }
  
  @media (max-width:500px) {
    .cardtitles h2 {
      font-size: 15px;
    }
    
    .card-list img {
      width: 165px;
    }
    
    .card-list p {
      font-size: 10px;
    }
  }
  